{
	"token": "Bot token",
	"owner": "The owner's id",
	"prefixes": ["+"],
	"description": "A discord bot that does stuff.",
	"redisURL": "redis://:<password>@<host>:<port>/<db>",
	"shardCount": "auto",
	"identifier": "someShitBot"
}