{
	"token": "Bot token",
	"inviteURL": "oauth url",
	"guildURL": "discord link"
	"owner": "The owner's id",
	"prefixes": ["+"],
	"description": "A discord bot that does stuff.",
    "contributers": {
     	"Kev#0043": "Various improvements/command additions", 
    	"iovoid#6259": "Contributions to Beemo3", 
    	"iczero#8740": "Contributions to Beemo3", 
        "MoonyTheDwarf#3778": "Contributions to Beemo3", 
     	"Cat#3204": "Various improvements/command additions", 
     	"Skiletro#3888, Lopho#4220": "Managing the Beemo community" 
   }, 
	"redisURL": "redis://:<password>@<host>:<port>/<db>",
	"shardCount": "auto",
	"identifier": "beemo",
	"distribution": "PUBLIC",

	"commands": {
		"wolfram": {
			"keys": []
		}
	},

	"serverCountKeys": {
		"discordBots": "",
		"carbonitex": "",
		"discordList": ""
	}
}
